@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
*{
  margin: 0;
}
body{
  font-family: Inter;
}

/* defalt style */
.dark{
  color: rgba(255, 255, 255, 0.5);;
  font-size: 1rem;
}

/* navigation */
.nav-container-section{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.932);
}
.navigation-container{
  width: 70%; 
  margin: 0 auto;
  padding-top: 3.4rem;
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 100%;
}
.navigation-container h2{
  font-size: 2.2rem;
  font-weight: 800;
  color: rgb(230, 83, 60);
  font-style: italic;
}
.navigation-content{
  border: 1px solid rgb(70, 69, 69);
  border-radius: 30px;
  padding: 5px 0px;
  padding-left: 0px;
}
.navigation-content a{
  align-items: center;
  text-decoration: none;
  color: white;
  margin: 0px 70px; 
  margin-left: 2px;
}
.navigation-content span{
  background-color: rgb(230, 83, 60);
  padding: 2px 15px ;
  border-radius: 15px;
}
.banner-container{
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.banner-content-item{
  width: 40%;
  justify-content: center;
  align-items: center;
}
.banner-content-item h2{
  font-size: 4.8rem;
  padding-top: 6.5rem;
  color: white; 
}
.banner-content-item p{
  font-size: 1rem;
  padding-top: 3rem;
}
.banner-content-item button{
  font-size: 1rem;
  padding: 1rem 3.5rem ;
  color: white; 
  background-color: rgb(230, 83, 60);
  border-radius: 2rem;
  border: none;
  margin-right: 1.4rem;
  margin-top: 2.5rem;
  margin-bottom: 4rem;
}
.banner-content-item .btn-primary{
  color: white;
  background-color: black;
  padding: 1.1rem 3.8rem ;
}
.banner-content-item span{
  font-size: 5.5rem; 
}
.banner-img{
  width:30%;
  display: flex;
  flex-direction: column;
  padding-right: 5rem; 
}
.banner-img img{
  height: 100%;
}
.provide-primary-item{
  color: white;
  backdrop-filter: blur(10px);
  border: 1px solid white;
  border-radius: 20px;
  text-align: left;
  width: 160px;
  position: absolute;
  top: 65%;
  left: 55%;
  padding: 15px 10px;
}
.provide-second-item{
  color: rgb(255, 255, 255);
  background-color: rgb(104, 94, 94);
  backdrop-filter: blur(10px);
  border: 1px solid white;
  border-radius: 20px;
  text-align:left;
  width: 160px;
  position: absolute;
  top:28%;
  left: 73%;
  padding: 5px 10px;
}
.provide-second-item h2{
  font-size: 2.5rem;
  font-weight: 900;
}
.provide-primary-item p{
  font-size: 1rem;
}
.provide-second-item p{
  font-size: 1rem
}
.icon-hum{
  display: none;
}
/* change habit section start */
.habits-container{
  background-color: black;
  color: white;
}
.habits-content{
  border: 1px solid red;
  width: 70%;
  margin: 0 auto;
}
.habits-content-item{
  display: flex;
  justify-content: center;
  align-items: center;  
}
.habits-content-item .content{
  border: 1px solid green;
  
}
.content img{
  border-radius: 50%;
  margin-left: 22%;
  align-items: center;
  margin-bottom: 30px;
}
.content h3{
  text-align: center;
  margin-bottom: 10px;
}
.content p{
  text-align: center;
  font-size: 0.9rem;
}
.habits-title h2{
  font-size: 3rem;
  font-width: 900;
  text-align: center;
  margin-top: 100px;
}
.habits-title p{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
.run-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 100px;
  background-color: rgb(58, 57, 57);
  border-radius: 16px;
  margin: 100px 3px 3px 3px;
  padding: 20px 30px 20px ;
}
.run-banner h1{
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1rem;
}
.run-banner button{
  background-color: rgb(230, 83, 60);
  padding: 20px 70px;
  border-radius: 20px;
  border: none;
  margin-top: 20px;
  color: white;
  font-size: 1rem;
}
.run-banner-img img{
  width: 55%;
  height: 100%;
  margin-left: 45%;
  border-radius: 16px;
}
/* change habit section end */
/* mobile responsive */
@media screen and (max-width:576px) {
 
  .navigation-content{
    display: none;
  }
  .icon-hum{
    display: block;
    margin-top: 6px;
    margin-right: 5px;
  }
  .navigation-container{
   width:99%; 
  }
  .nav-container-section{
    width: 99%;
  }
  .banner-container{
    width: 99%;
    height: 100%;
    flex-direction: column;
  }
  .banner-content-item{
    width: 99%;    
  }
  .banner-img{
   width:99%;
  }
  .banner-content-item h2{
    font-size: 3rem;
    padding-top: 5rem;; 
  }
  .banner-content-item span{
    font-size: 3.8rem; 
  }
  .banner-content-item{
    font-size: 0.8rem;
  }
  .banner-content-item button{
    font-size: 1rem;
    padding: 1rem 1.5rem ;
  }
  .banner-content-item .btn-primary{
    color: white;
    padding: 1.1rem 2.5rem ;
  }
  .provide-primary-item{
    width: 150px;;
    top: 125%;
    left: 9%;
    padding: 14px 15px;
  }
  .provide-second-item{
    width: 160px;
    top: 100%;
    left: 53%;
    padding: 10px 10px;
  }
  .provide-second-item h2{
    font-size: 2rem;
    font-weight: 700;
  }
  /* change habit section start */
  .habits-content-item {
    flex-direction: column;
  }
  .run-container {
    flex-direction: column;
  }
  .run-banner-img img{
    width: 100%;
    margin-left: 0px;
    margin-top: 20px ;
  }
  .run-banner h1{
    font-size: 2rem;
    font-weight: 700;
  }
  .run-banner button{
    padding: 10px 75px;
  }
}